body {
    background-color: #D73F2B;
    color: #ffffff;
}

body * {
    font-family: 'Nunito', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.middle {
    text-align: center;
}

.card {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 5px 10px 5px;
}

form {
    padding-top: 10px;
}

h4 {
    padding-top: 10px;
}

.lead, .clue, .intro {
    padding-top: 10px;
}

.yes {
    background-color: lightblue;
}

.no {
    background-color: lightcoral;
}

.card .red-text {
    color: #D73F2B;
}

input {
    background-color: white;
    color: #D73F2B;
    padding: 5px;
    border-radius: 5px;
    border: none;
    min-width: 150px;
}

input, select {
    background-color: white;
    color: #D73F2B;
    padding: 5px;
    border-radius: 5px;
    border: none;
    min-width: 150px;
}

.card .draw-btn {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    min-width: 150px;
    margin-top: 20px;
}

.padtop {
    padding-top: 5px;
}

input[disabled] {
    opacity: 0;
}

.error {
    color: black;
    vertical-align: bottom;
}

.error img {
    margin-top: -5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.logo {
    width: 95%;
}

table {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%
}

thead, tr {
    width: 100%;
}

.long {
    width: 10%;
}

.short {
    width: 5%;
}

th {
    font-size: 20px;
}

.winner {
    margin-top: 20px;
    border: 5px solid black;
    display: none;
}